language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"

before_install:
  - sudo apt-get install libgmp-dev gfortran libblas-dev liblapack-dev
  - pip install cython
  - pip install pycddlib
  - pip install matplotlib
  - pip install networkx
  - pip install pulp
  - sudo apt-get install glpk-utils

install:
  - python setup.py install

script:
  - python -m nose
  - cd examples
  - for x in *.py; do python $x || exit 1; done
