
name: examples

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  defaults:
    run:
      working-directory: ./examples

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest pytest-cov
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Install
      run: |
        pip install .
    - name: Run examples
      run: |
      
    - name: Run param estimation one-sub enzyme
      run: python param_estimation_one-sub_enzyme.py
    - name: Run simulation
      run: python simulation.py
    - name: Runsparse dense realiz
      run: python sparse_dense_realiz.py
    - name: Run param simulation one-sub enzyme
      run: python simulation_one-sub_enzyme.py
    - name: Run param estimation
      run: python param_estimation.py
    - name: Run kinetic rates
      run: python kinetic_rates.py
    - name: Run gprotein
      run: python gprotein.py
    - name: Run cooperative binding
      run: python cooperative_binding.py
    - name: Run concerted coop
      run: python concerted_coop.py
    - name: Run acr
      run: python acr.py